/*--------------------------------------------------------------
## details container
--------------------------------------------------------------*/

.containerDetail {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    outline: 1rem solid #fff;
    outline-offset: -1rem;
    height: 100%;
    white-space: pre-wrap;
    padding: 16px;
}

.vertical {
    bottom: -18rem;
    left: 2.5rem;
    font-size: 14px;
    letter-spacing: 0.025rem;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
}

.details-description {
    padding: 8px;
    margin: 8px;
    text-align: center;
}

.imageDetail {
    height: 320px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.firstfly {
    padding: 16px;
}

@media screen and (max-width: 800px) {
    h1 {
        margin-top: 8px;
    }
    #horizontal {
        display: flex;
        justify-content: flex-start;
    }
    .imageDetail {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .vertical {
        display: none;
    }
    .Horizontal {
        display: flex;
        font-size: 14px;
        margin: 0 auto;
        padding: 8px;
        background: #F0F0F2;
    }
    .Horizontal a {
        text-decoration: none;
        display: inline-flex;
        transition-property: color;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        color: #222222;
    }
}